<!--The content below is only a placeholder and can be replaced.-->
<div class="header1">
  <div id="img3" class="header1"><img src="/assets/images/logo.png" id="img3" /></div>
  <div class="container-3">
            <input type="search" id="search" placeholder="Search..." />
  </div>
  <div id="profilearea" class="header1"><a href="profile.php"><img src="/assets/image/prof.png"id="profpic" /></a></div>
</div>
<!-- </div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

 -->